.student-mark {
    margin: 1rem 0;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    position: relative;
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    overflow: hidden !important;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 0.5rem;

    &__header {
        position: relative;
        z-index: 1;
        text-align: center !important;
        padding: 1rem !important;
        background-color: #007a64;
    }

    &__logo {
        img {
            width: 196px;
            height: auto;
        }
    }

    &__title {
        color: #fff !important;
        margin-top: 1rem !important;
        margin-bottom: 0.25rem !important;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    &__mark {
        color: #fff !important;
        margin-bottom: 0 !important;
        line-height: 1.8;
    }

    &__list {
        border-top: inherit;
        border-bottom: inherit;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        border: 1px solid #f0f1f5;
    }

    &__item {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-width: 0 0 1px;
        background-color: rgba(255, 255, 255, 0);
        padding: 1rem 1.5rem;
        padding-bottom: 0;
        border-radius: 0;

        span {
            margin-bottom: 0 !important;
        }

        strong {
            font-weight: bolder;
            color: #89879f !important;
        }
    }

    &__item-content {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    &__text {
        flex: 1;

        h5 {
            margin-bottom: 0.25rem !important;
            font-size: 1rem;
            font-weight: bolder;
            line-height: 1.2;
        }
    }

    &__btn {
        align-self: self-end;
        margin-top: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            margin-left: 4px;
            font-size: 30px;
            color: #1967d2;
        }
    }

    &__footer {
        border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
        background: transparent;
        margin-top: 0 !important;
        border: 0 !important;
        padding: 1.25rem 1.875rem 1.25rem;
    }
}
