.list {
//   tr {
//     border-bottom: 0.5px solid;
//   }
  img {
    height: 32px;
    width: 32px;
    max-height: 75px;
    max-width: 75px;
    border-radius: 50%;
  }
  &__row{
      display: flex;
     align-content: center;
     &__header{
         display: flex;
         align-items: center;
         justify-content: center;
     }
      &__name {
        margin-left: 0.5rem;
        max-width: 30rem;
        letter-spacing: 0.01785714em;
        font-family: 'Google Sans', Roboto, Arial, sans-serif;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: #3c4043;
        align-content: center;
        
      }
  }
 
}
