.manage-user-accounts{
    padding: 24px;
    &__pagination{
        display: flex;
        justify-content: center;
        margin: 10px 0 10px 0;
    }
}
.fbhklE {
    font-weight: 600 !important;
}