.login {
    background-color: #1bb1e6;
    padding: 16px 0;

    &__content {
        background: #fff;
        width: 450px;
        border-radius: 6px;
        margin: 0 auto;
        display: table;
        padding: 15px 30px 30px;
        box-sizing: border-box;
    }

    &__title {
        margin: 30px 0;

        h1 {
            font-size: 36px;
            text-align: center;
            color: #45aba6;
            font-weight: normal;
        }
    }

}
