.footer {
    --height: 50px;
    position: fixed;
    bottom: 0;
    height: var(--height);
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #2f332f;
    border-top: 1px solid #e8ebed;
    padding: 0 20px;
    display: flex;
    align-items: center;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    will-change: transform;

    &__logo {
        a {
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }

        img {
            width: 40px;
            height: 40px;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.8;
            border-radius: 50%;
        }
    }

    &__social,
    &__contact {
        display: flex;

        ul {
            list-style-type: none;
        }
    }

    &__contact {
        padding-left: 16px;

        a {
            color: #fff;
            font-size: 1rem;
            font-weight: 500;
            padding: 4px 10px 6px;
            display: block;
            text-decoration: none;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-tap-highlight-color: transparent;
        }

        li {
            position: relative;
        }
    }

    &__social {
        margin-left: auto;

        a {
            color: #82919b;
            font-size: 2rem;
            padding: 4px 8px;
        }
    }
}
